.player-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    background: #fafafa;
    border-radius: 6px;
}

.player-info {
    margin-top: 10px;
}

.info-box {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #bbb;
}
